
#begin {
    display: block;
}
#questionForm{
    display: none;
}
li {
    font-size:130%
}
#thanks {
    display: none;
}
#subButton {
    font-size: 200%;
    color: black;
    background-color: rgb(214, 5, 5)
}
#subButton:hover {
    background-color: rgb(209, 209, 209)
}